<ion-content class="ion-padding">

  <ion-list *ngIf="notificaciones.length > 0; else emptyState">
    <ion-item *ngFor="let noti of notificaciones" class="notificacion-item">
      <ion-label class="ion-text-center">
        <span class="mensaje-producto">{{ noti.mensaje }}</span>
        <ion-badge [color]="getColorBadge(noti)">{{ getTextoBadge(noti) }}</ion-badge>
        <p class="fecha">{{ noti.fecha | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ng-template #emptyState>
    <div class="empty-state">
      <p>No hay notificaciones recientes.</p>
    </div>
  </ng-template>

  <ion-button expand="block" (click)="limpiarNotificaciones()" *ngIf="notificaciones.length > 0">
    Limpiar todas
  </ion-button>

</ion-content>