ion-content {
  --background: #f9f9f9;
  padding: 16px;

  .empty-state {
    text-align: center;
    margin-top: 50px;
    color: #555;
    font-size: 1rem;
  }

  ion-list {
    margin: 0;
    background: #fff;

    ion-item {
      --background: #fff;
      padding: 8px 0px;

      ion-label {
        display: flex;
        flex-direction: column;
        /* apilar verticalmente */
        align-items: center;
        /* centrar horizontalmente */
        justify-content: center;
        font-weight: 700;
        color: #222;
        margin: 0;

        .mensaje-producto {
          font-size: 30px;
          text-transform: uppercase;
          color: #0eacc4;
          margin-bottom: 4px;
        }

        ion-badge {
          font-weight: 600;
          font-size: 0.8rem;
          padding: 6px 10px;
          color: #fff !important;
          background-color: #14a1d8;
          margin-bottom: 4px;
        }

        .fecha {
          font-size: 0.75rem;
          color: #007081;
        }
      }
    }

  }


  ion-button {
    margin-top: 16px;
    --background: #00bcd4;
    --color: #fff;
    font-weight: 600;
    border-radius: 12px;
    height: 44px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      --background: #00acc1;
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    }

    &:active {
      --background: #0097a7;
      transform: translateY(0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}