.white-header {
  --background: #ffffff;
  --color: #222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.white-content {
  --background: #f9f9f9;
  padding: 8px;
}

.top-bar {
  padding: 0 8px;
  margin-bottom: 8px;
}

ion-searchbar {
  --background: #fff;
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  --color: #000;
  --placeholder-color: #555;
  --icon-color: #000;
}

ion-button {
  --color: #000;
  color: #000 !important;

  ion-icon {
    color: #000 !important;
  }
}

.product-card {
  --background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
  }

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 120px;
    object-fit: cover;
    width: 100%;
  }

  ion-card-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 4px;
  }

  ion-card-content {
    font-size: 13px;
    color: #666;

    p {
      margin: 2px 0;
    }
  }

  .ion-button-notificacion {
    position: relative;

    ion-badge {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 0.7rem;
      min-width: 18px;
      height: 18px;
      padding: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


}