<ion-content [fullscreen]="true" class="white-content">
  <ion-grid class="top-bar">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-searchbar placeholder="Buscar productos..." [(ngModel)]="busqueda" (ionInput)="filtrarProductos()"
          showCancelButton="never" animated></ion-searchbar>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-button fill="clear" (click)="verNotificaciones()" color="dark" class="ion-button-notificacion">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          <ion-badge *ngIf="notificacionesNoLeidas > 0" color="danger">
            {{ notificacionesNoLeidas }}
          </ion-badge>
        </ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- 🧊 Productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let producto of productosFiltrados">
        <ion-card class="product-card" (click)="verProducto(producto)">
          <img [src]="producto.imagen" alt="agua" />
          <ion-card-header>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Precio: ${{ producto.precio }}</p>
            <p>Vendedor: {{ producto.vendedor }}</p>
            <p>{{ producto.reputacion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>