.custom-tab-bar {
  --background: #fff;
  width: 90%;
  margin: 8px auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 4px 0;

  border-top: none;      // elimina la raya superior
  box-shadow: 0 4px 12px rgba(0, 119, 182, 0.12); // opcional: sombra suave
}


.custom-tab {
  --background: transparent;

  --color-selected: #0077b6;  // azul al seleccionar
  --ripple-color: #90e0ef;

  border-radius: 12px;
  margin: 2px;
  transition: all 0.2s ease-in-out;

  .tab-icon {
    font-size: 20px;
  }

  .tab-label {
    font-size: 12px;
    font-weight: 600;   // negrita solo aquí
    display: block;     // evitar duplicados
    line-height: 1.2;
    margin: 0;          // elimina margen extra
  }
}

.custom-tab.ion-selected {
  --background: #d0f0ff;  
  --color: #0077b6;       

}

/* Logout */
.logout-tab {
  --color: #d62828;
}

.logout-tab.ion-selected {
  --background: #ffd6d6;
  --color: #d62828;
}
